/* Header */
.header {
  height: 130px;
  background-color: #033730;
  margin-left: -20px;
  margin-top: -20;
  display: flex; /* måste ha flex innan flexdirection */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-text {
  color: #ffe8dc;
  font-size: 45px;
  font-family: cursive;
}
/* HomePresenter & views */
.wrapper {
  flex-direction: column;
  background-color: mediumaquamarine;
  height: 100vh;
  width: 100vw;
  margin: -10px;
}
.selectionView {
  padding-top: 20px;
  height: 100px;
  background-color: #d7ffd7;
  display: flex; /* måste ha flex innan flexdirection */
  flex-direction: row;
}
.selector {
  height: 30px;
  width: 200px;
  margin-left: 20px;
  background-color: #d7ffd7;
  border-radius: 10px;
  font-size: 20;
}
.selector-text {
}
.searchButton {
  height: 30px;
  width: 100px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #d7ffd7;
}
.map {
  margin-top: -22px;
  background-color: #d7ffd7;
  height: 100vh;
  display: flex; /* måste ha flex innan flexdirection */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mapPlaceholder {
  width: 100vw;
  height: 30vh;
  background-color: white;
}
