/* Header */
.header {
  height: 110px;
  width: 100vw;
  background-color: #033730;
  margin: -20px; /* bug with outer container margin  */
  display: flex; /* måste ha flex innan flexdirection */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-text {
  color: #ffe8dc;
  font-size: 45px;
  font-family: cursive;
}
.header-text-small {
  color: #ffe8dc;
  font-size: 30px;
  font-family: cursive;
}

/*Footer*/

.footer {
  height: 210px;
  margin-top: -150px;
  margin-left: -20px;
  margin-right: -20px;
  width: 100hw;
  background-color: #033730;

  display: flex; /* måste ha flex innan flexdirection */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-text {
  color: #ffe8dc;
  font-size: 45px;
  font-family: cursive;
}
.footer-text-small {
  color: #ffe8dc;
  font-size: 30px;
  font-family: cursive;
}
/* HomePresenter & views */
.container {
  overflow: auto;
}
.wrapper {
  display: flex;
  margin: -20px;
  flex-direction: row;
  background-color: white;
  height: 100vh;
  width: 100vw;
}
.selectionView {
  background-color: white;
  display: flex; /* måste ha flex innan flexdirection */
  flex-direction: row;
  height: 100px;
  width: 150px;
  padding: 20px;
}
.selector {
  height: 30px;
  width: 200px;
  margin-left: 20px;
  background-color: #d7ffd7;
  border-radius: 10px;
  font-size: 20;
}
.selector-text {
  color: #033730;
  /* background-color: #033730;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; */
  font-weight: 900;
}
.searchButton {
  height: 58px;
  width: 100px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: white;
}
.details-view {
  background-color: white;
  width: 405px;
  height: 800px;
  border-radius: 10px;
  margin-top: 50px;
}

.details-view-banner {
  background-color: black;
  height: 50px;
  width: 402px;
  font-size: 40px;
  color: #ffe8dc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-view-item {
  margin-bottom: 2px;
  height: 35px;
  width: 398px;
  border-radius: 4px;
  font-size: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  border-width: 1px;
  border-bottom-width: 7px;
  border-color: black;
  border-style: solid;
}

.index-view-item {
  margin-bottom: 2px;

  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  border-width: 1px;
  border-bottom-width: 7px;
  border-color: black;
  border-style: solid;
  width: 398px;
}
.image-div {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-between {
  display: flex;
  flex-direction: row;
}