/* Header */
.header {
  height: 130px;
  background-color: #033730;
  margin-left: -20px;
  margin-top: -20;
  display: flex; /* måste ha flex innan flexdirection */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-text {
  color: #ffe8dc;
  font-size: 45px;
  font-family: cursive;
}
.header-text-small {
  color: #ffe8dc;
  font-size: 30px;
  font-family: cursive;
}
/* HomePresenter & views */
.wrapper {
  flex-direction: row;
  background-color: white;
  height: 100vh;
  width: 100vw;
  margin: -10px;
  overflow: hidden;
}
.selectionView {
  padding-bottom: 20px;
  height: 40px;
  background-color: #d7ffd7;
  display: flex; /* måste ha flex innan flexdirection */
  flex-direction: row;
}
.selector {
  height: 30px;
  width: 200px;
  margin-left: 20px;
  background-color: #d7ffd7;
  border-radius: 10px;
  font-size: 20;
}
.selector-text {
  color: #033730;
  font-weight: 900;
}
.searchButton {
  height: 30px;
  width: 100px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #d7ffd7;
}
.details-view {
  background-color: #d7ffd7;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  margin: 100px;
}

.details-view-banner {
  background-color: #033730;
  height: 50px;
  width: 100hv;

  color: #ffe8dc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-view-item {
  margin: 2px;
  background-color: #033730;
  height: 40px;
  width: 490px;
  border-radius: 4px;
  font-size: 30px;
  color: #ffe8dc;
  display: flex;
  align-items: center;
}
.item-flex {
}
