.gradient-cell{
    width: 3em;
}
.min-cell{
    width: 3em;
    text-align: center;
}
.max-cell{
    width: 3em;
    text-align: center;
}

.gradient-container{
    justify-content: center;
    flex-direction: row;
    display: flex;
}
